#sample cicd practice file 2
name: Hello World Workflow
on: 
    push:
        branches:
            - master
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Greet the world
              run: echo "Hello, WORLD!"